# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Debug output
screenshots/
logs/

# OS
Thumbs.db
.DS_Store
river-sky-485111-t5-23c92d999d77.json